body,ul,img,li,a{
	margin: 0;
	padding: 0;
}
*{margin: 0;padding: 0;}
a{
	text-decoration: none;
}
img{
	border: 0;
}
ul li{list-style: none;}

body{
	font-size: 12px;
	font-family: SimSun,Arial;
}
/*header*/
.header{
	width: 1000px;
	margin: 5px auto;
	position: relative;
}
.header img{

}
.header ul{
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: inline-block;
	float: right;
}
.header ul li{
	float: right;
    padding:0 10px;
    border-right: 1px solid #dedede; 
}
.header ul li a{
	margin-left: 16px;
	color:black ;
}
.li1,.li2,.li3,.tab1{
	background-image: url(images/fh_03.gif);
    background-repeat: no-repeat;}
.li1{
	border-right: none!important;
	background-position:-8px -53px;

}
.li2{
    background-position:-4px -1px;
}
.li3{
    background-position:-5px -2px;

}
/*tab*/
.tab{
    width: 1349px;
    background-color: hsl(0, 90%, 61%);

}
.tab ul{
    width: 1000px;
    height: 40px;
    margin: 0 auto;
}
.tab ul li{
	float: left;
    padding: 11px 14px 0 16px;
    border-left: 1px solid #ccc;
    height: 29px;
}
.tab ul li a{
    color: white;
    font-size: 16px;

}
.tab ul li a:hover{
	text-decoration: underline;
}
.tab1{
	background-position: 12px -79px;
	margin-left: 0px;
	padding-right: 0px!important;
}
.tab1 a{
	margin-left: 34px;
}
/*content-ad*/
.content{
    width: 1000px;
    margin: 0 auto;
}
.content-ad{
	  
}
.content-ad li{
	float: left;
	height: 38px;
	line-height: 38px;
	width: 43px;
	margin: auto;

}
.content-ad a{
	color:hsl(0, 0%, 17%);
	font-size: 14px;
	border-left: 1px solid #ccc;
	padding-left: 7px;

}
.content-ad a:hover{
    color: hsl(0, 90%, 61%);
}
.ad_01 a{
	border-left: none!important;
}
/*adverst*/
.adverst{
	padding: 10px;
	background-color: hsl(0, 0%, 95%);
	border-top: 1px solid hsl(0, 0%, 87%);
	border-bottom: 1px solid hsl(0, 0%, 87%);
	height: 100%;
	overflow: hidden;
}
.adverst ul{

}
.adverst li{
	float: left;
    width: 140px;
    height: 22px;
    line-height: 22px;
}

.adverst li a{
	color: hsl(207, 17%, 50%);
}
.adverst img{
	width: 980px;
}
.adverst li a:hover{
	text-decoration: underline;
}
.top-title{
	margin-top: 16px;
	height: 58px;
	border-bottom: 2px solid #ccc;
}
.top-title ul li{
	
	width: 250px;
	float: left;
	position: relative;
}
.top-title li img{
    float: left;
    
}
.recpicbor{
	background: url(images/fh70.gif)1px 52px no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 52px;
	height: 58px;
}
.top-title li a{
	color: hsl(206, 100%, 23%);
	display: block;
    
}
.top-title li a:hover{
	color: hsl(0, 90%, 61%);
	text-decoration: underline;
}
.top_1{
	margin-left: 64px;
}
.top_2{
	color: black!important;
	height: 26px;
    line-height: 26px;
}
.top_3{
	background: url(images/fh_03.gif) 0 -200px; 
}
.center{
	width: 1000px;
	height: 100%;
	overflow: hidden;
}
.center a{
	
}
.center-left{
	width: 220px;
	
	margin-top: 8px;
}
.cen-left{
	width: 188px;
	padding: 0 15px;
	border: 1px solid #ccc;
}
.center-left a{
	line-height: 24px!important;
	
    color: hsl(206, 100%, 23%);
}
.center-left dl{
	padding-bottom: 22px;
}

.cen-left dl{
	margin-top: 8px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 14px;
	padding-bottom: 12px;
}
.a1{
	border-bottom: none!important;
}
.a6{
	font-size: 14px;
}
.cen-left dt{
	height: 24px;
	line-height: 24px;
}
.cen-top3{
	height: 60px;
	margin: 5px 0;
	line-height: 20px;
	color: gray;
}
.cen-top3 a{

	float:left;
	margin-right: 10px;
}


.cen-top3 span{
	color: hslhsl(0, 0%, 51%);
	
}
.cen-top1{
	width: 188px;
	padding-top: 14px;
	line-height: 24px;
	position: relative;
}
.cen-top2{
	height: 40px!important;
	line-height: 20px;
	color: hsl(0, 0%, 50%);
}
.cal_01{
	float: right;
	height: 24px;
	width: 120px;
	position:absolute;
	top: 14px;
	right: 0;
}
.cen-left a:hover{
	text-decoration: underline;
	color: hsl(0, 90%, 61%);
}
.cen-top1-a{
	font-size: 14px;
	color: hsl(0, 0%, 17%)!important;
}
.cen-top1-a:hover{
	color: hsl(0, 90%, 61%)!important;
}
.center-right{
	float: right;
	width: 765px;
	margin-top: 18px;
	height: 100%;
	overflow: hidden;
}
.center-right a{
	font-size: 14px;
	line-height: 28px;
	color: hsl(206, 100%, 23%);
}
.center-right dl{
	margin-top: 8px;
}
.cars{
	height: 100%;
	overflow: hidden;
}
.cars li{
    float: left;
    width: 54px;
    padding-bottom: 4px;
    
}
.cars li a{
	display: block;
	width: 49px;
	height: 30px;
	border: 1px solid hsl(0, 0%, 87%);
}
.cars img{
	width: 47px;
	height: 28px;
}
.cars li a:hover{
	border: 1px solid hsl(0, 90%, 61%);
}
.cars-cp a{
	border: none!important;
	padding-top: 14px;
}
.cars li p{
	text-align: center;
	color:hsl(0, 0%, 60%) ;
	line-height: 20px;
}
.cars-price1,.cars-price2{
	display: inline-block;
	width: 76px;
	height: 21px;
	line-height: 21px;
	padding-left: 24px;
	margin-top: 4px;
	background-color:hsl(0, 0%, 94%) ;
	border: 1px solid hsl(0, 0%, 87%);
}
.cars-price1{
	margin-right: 8px;
}
.search{
	width: 218px;
	height: 20px;
	border: 1px solid hsl(206, 100%, 23%);
	margin: 10px auto 15px;
}
.search span{
	float: left;
}
.search1{
	height: 16px;
	line-height: 16px;
	width: 188px;
	margin-top: 2px;
	padding-left: 4px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-right: 1px solid hsl(206, 100%, 23%);
	
}
.search3{
	
	width: 96px;
	margin-top: 2px;
	padding-left: 4px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-right: 1px solid hsl(206, 100%, 23%);
}
.search1:focus,.search3:focus{
	outline:none;
}
.a10 {
	height: 19px;
	line-height: 20px;
	width: 96px;
	border: 0;
	border: 1px solid hsl(0, 0%, 84%);
	float: left;
}

.a12 a{
	display: inline-block;
	width: 56px;
	height: 19px;
	text-align: center;
	line-height: 19px!important;
	border: 1px solid hsl(0, 0%, 90%);
	background-color: hsl(0, 0%, 96%);
	float: left;
    
}
.a11{

}
.a12{
	margin-top: 10px;
}
.search2{
	display: inline-block;
	height: 20px;
	width: 22px;
	background: url(images/fh_03.gif) 0 -541px no-repeat;
}
.title-1 a{
	font-size: 16px!important;

}
.title-2 a{
	font-size: 20px!important;
}
.center-right dt{
	font-weight: bold;
}
.center-right dt,.center-right dd,.center-right li{
	margin-left:4px;
}
.center-right dt,.center-right dd,.like li{
	background:url(images/fh_03.gif) -8px -442px no-repeat;
}
.center-right dt a,.center-right dd a,.like li a{
	padding-left: 10px;
}
.center-right a{
	line-height: 28px;
	font-size: 14px;
	color: hsl(206, 100%, 23%);
}
body a:hover{
	text-decoration: underline;
	color: hsl(0, 90%, 61%);
}
.cen-right-left{
	width: 366px;
    float: left;
    
}
.mad{
	height: 100%;
	overflow: hidden;
}
.cen-right-left dl{
	margin-bottom: 6px;
}
.strong{
	font-weight: bold;
}/*小标题加粗的格式*/


.crl {
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
.border{/*带有框的列表的格式*/
	margin-left: 0;
	border: 1px solid #ccc;
	padding: 10px 20px;
	margin-top: 18px;
	margin-bottom: 30px;
}
.cen-right-rit{
	width: 362px;
	float: right;
}
.cen-lunbo{
	width: 362px;
	height: 249px;
	overflow: hidden;
	margin-bottom: 18px;
	position: relative;
}
.crl-lunbo {
	width: 370px;
	height: 30px;


}
.crl-cai{
	color: black!important;
}
.crl-cai:hover{
	text-decoration: none;
	color: hsl(0, 90%, 61%)!important;
}
.crl-lunbo li{
	width: 39px;
	float: left;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid hsl(0, 0%, 87%);
	border-right: 1px solid hsl(0, 0%, 87%);
	
}
.crl-lunbo2{
	width: 3300px;
	height: 221px;
	position: absolute;
}
.crl-lunbo2 li{
	float: left;
	width: 362px;
	height: 221px;
	
}
.a3{
	border-bottom: 1px solid hsl(0,0%, 60%);
	margin-bottom: 5px;
}
.pad,.a4 li{
	background:url(images/fh_03.gif)-4px -285px!important;
}
.a4 li a{
	padding-left: 16px;
}
.a5{
	
}
.pad a{
	padding-left: 16px!important;
}
.crl-lunbo li a{
	display: inline-block;
	width: 39px;
	height: 30px;
	padding: 0 7px;
	color: black;
	font-size: 12px!important;
}
.crl-lunbo li{
	width: 39px;
}
.crl-lunbo1{
	border-left: 1px solid hsl(0, 0%, 87%);

}
.crl-lunbo2 li,.crl-lunbo li{
    margin-left: 0!important;
}
.crl-lunbo li:hover{
	background-color: red;

}
.crl-lunbo li a:hover{
	color: white;
	text-decoration: none;
	
}
.taobao{
	height: 250px;
	text-align: center;
	
	margin:10px auto;
}
.taobao img{
	

}
.nainai{
	width: 220px;
	height: 155px;
	
}
.bottom-line{
	background: url(images/fh_03.gif) 0 -374px no-repeat;
	padding-bottom: 10px;
	margin-bottom: 12px;
}
.bottom-line a{
	font-size: 16px;
	font-weight: bold;
	color: black;
}
.picture{
	height: 100%;
	overflow: hidden;
}
.picture img,.picture ul{
	float: left;
	margin-bottom: 2px;
}
.picture li{
	margin-left: 0!important;
}
.picture img{
	margin-top: 8px;
	margin-right: 8px;
}
.img-bing{
	margin-left: 20px;
}
.title-tip{
	height: 30px;
	line-height: 30px;
	border-bottom: 2px solid hsl(0, 0%, 60%);
	padding-top: 12px;
	margin-bottom: 18px;
}
.title-tip a{
	font-size: 14px!important;
	line-height: 30px;
	color: hsl(0, 0%, 40%);
}

.t1{
	font-size: 12px!important;
	color: black!important;
}
.a5 img{
	width: 220px;
	height: 318px;
	
}
.danjiang{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 14px 0;
	margin: 30px 0;
	border: 1px solid hsl(0, 0%, 87%);
}
.danjiang li{
	float: left;
	margin-left: 28px;
	margin-top: 4px;
	
}
.danjiang li a{
	color: hsl(207, 17%, 50%);
}
.footer-p{
	margin: 20px 0;
}
.footer-p p{
	text-align: center;
	margin-top: 10px;
}
.footer-p p a,.footer-p p span{
	color: hsl(0, 0%, 60%)!important;
}
.lianm1-1{
	float: left;
} 
.lianm1-1 a,.lianm2 a,.lianm2 span{
	color: hsl(0, 0%, 40%);
}
.lianm1{
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid hsl(0, 90%, 61%);
}
.lianm1 p{
	text-indent: 233px;
    text-align: center;
}
.lianm1 p a{
	padding:0 4px;
	border-right: 1px solid hsl(0, 0%, 60%);
	color: hsl(0, 0%, 40%);
}
.lianm1 p a:hover,.footer-p p a:hover{
	color: hsl(0, 90%, 61%)!important;
}
.lianm1-2{
	border-right: none!important;
}
.lianm2{
	margin-top: 10px;
}
.lianm2-1{
	float: left;
}
.lianm2 p{
	text-indent: 28px;
}
.lianm2 a{
	padding: 0 5px;
	
}
.lianm3 a{
	width: 65px;
	height: 40px;
	float: left;
	border: 1px solid hsl(0, 0%, 82%);
	margin-right: 10px;
    padding: 10px 0 0 45px;
    color: black;
    line-height: 16px;
}
.lianm3{

}
.lianm3  span{
	
	
}
.lianm3_1{
	width: 82px!important;
	padding: 10px 10px 0 10px!important;
	text-align: center;

}
.lianm3_2{
	padding-top: 0!important;
	padding-left: 56px!important;
	height: 52px!important;
	background: url(images/fh16.jpg);
}
.erweima{
	position: fixed;
	width: 120px;
	height: 185px;
	z-index: 100px;
	bottom: 0;
	right: 0;
}
.lianm3_3{
	background: url(images/fh10.jpg);
}
.lianm3_4{
	background: url(images/fh11.jpg);
	padding-left: 52px!important;
}
.lianm3_5{
	background: url(images/fh12.jpg);
}
.lianm3_6{
	background: url(images/fh13.jpg);
}
.lianm3_7{
	background: url(images/fh14.jpg);
}
.lianm3_8{
	background: url(images/fh15.gif);
	padding-left: 52px!important;
}
.movie-tip{
	height: 100%;
	overflow: hidden;
}
.movie-tip a{
	width: 108px;
	height: 27px;
	border: 1px solid hsl(0,0%,87%);
	text-align: center;
	float: left;
	color: black;
	font-size: 14px;
}
.movie-tip a:hover{
	text-decoration: none;
	border-top: 2px solid hsl(0,0%,87%);
	border-bottom: none;
}
.movie-tip1{
	border-right: none!important;
}
.a7{
	background: url(images/fh68.gif) 0 -3px no-repeat;
	padding: 4px 0;
}
.a7 a{
	padding-left: 30px;
}
.a8{
	background: url(images/fh_03.gif) 0 -501px no-repeat;
	padding-left: 10px;
}
